@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Variables Start */
:root{
    /* --main-color:#10cab7; */
    --main-color: rgb(62, 175, 246);
    --secondry-color:rgb(44, 71, 85);
    --section-padding:60px;
    --section-background:#f6f6f6;
}
/* Variables End*/
/* Global Start */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
    scroll-timeline: .3s;
}
body{
     font-family: "Montserrat", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

}
/* Small */
@media (max-width:768px) {
    .container{
      max-width: 750px;
    }
}
/* Medium */
@media (max-width:992px) {
    .container{
        max-width: 970px;
    }
}
/* Large  */
@media (max-width:1200px) {
    .container{
        max-width: 1170px;
    }
}
/* Global End */
/* Strat Copmonents */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading +p{
        margin: -20px 0 0 ;
    }
}
/* End Copmonents */
/* Header Star */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 100px;
    padding: 0;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links{
    position: relative;
    margin: 0;
    padding: 0;
}
.header .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.header .links ul li{
    margin-left: 30px;
}
.header .links ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    transition: 0.3s;
}
.header .links ul li a::before{
    content: "";
    background-color: var(--main-color);
    top: -30px;
    left: 0;
    position: absolute;
    height: 5px;
    width: 0;
    transition: 0.3s;

}
.header .links ul li a:hover::before{
    width: 100%;
}
@media (max-width:992px) {
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.header .links .icon span{
    background: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    z-index: 10;
    display: none;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 2px ;
    top: -19px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li:not(:last-child) a{
 border-bottom: 1px solid#ddd;
}
.header .links ul li a:hover li{
    padding-left: 20px;
}
.header .links ul li a:hover::before{
    width: 0%;
}
}
/* Header End */
/* Start Landing Section  */
.landing{
    background: url("../images/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg") center bottom ;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 360px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    text-transform: uppercase;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.landing .intro-text p span{
    font-weight: bold;
    color: var(--main-color);   
}
.landing .intro-text i{
    font-size: 30px;
    color: var(--main-color);
    margin-top: 60px;
    animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
    0%,10%,20%,50%,70%,80%,100%{
        transform: translateY(0px);
    }
    40%,60%{
        transform: translateY(-15px);
    }
}
/* End Landing Section  */
/* Start Features Section  */
.features{
    padding-top: var(--section-padding);
    padding-bottom:var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr)) ;
    gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0 ;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17PX;
}
/* End Features Section  */
/* Start Services  */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);  
}
.services .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr)) ;
    gap: 30px;  
    margin-top: 100px;
}
.services .services-content .srv{
    margin-bottom: 40px;
    display: flex;
}
@media (max-width:767px) {
.services .services-content .srv{
    flex-direction: column;
    text-align: center;
}    
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1px;
}
.services .services-content .srv .text h3{
    margin: 0 0 30px;
}
.services .services-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .img{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.services .services-content .img::before{
content: ' ';
background-color: var(--secondry-color);
width: 100px;
height: calc(100% + 100px);
position: absolute;
top: -50px;
right: 0;
z-index: -1;
}
.services .services-content .img img{
    width: 265px;
    transition: 0.4s;
}
.services .services-content .img:hover img{
    filter:drop-shadow(0 0 5px var(--secondry-color));
    transform: translateY(-15px);
    overflow: hidden;
}
/* End Services  */
/* Start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr)) ;
    gap: 30px;  
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-content .card::before{
 content: "NEW";
 color: gold;
 background-color: red;
 width: 80px;
 height: 30px;
 top: 3px;
 left: -23px;
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: rotateZ(-45deg);
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
 transition: 0.3s;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .portfolio-content .card:hover img{
    filter: grayscale(2);
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
    position: relative;
}
.portfolio .portfolio-content .card .info::before{
    content: " ";
    background-color: var(--secondry-color);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0%;
    opacity: .2;
    transition: .3s;
}
.portfolio .portfolio-content .card:hover .info::before{
 width: 100%;
}
.portfolio .portfolio-content .card:hover .info h3{
  color: #777;  
}
.portfolio .portfolio-content .card:hover::before{
    display: none;
}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
    color: var(--main-color);
    transition: .3s;
}
.portfolio .portfolio-content .card .info{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End portfolio */
/* Start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);   
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content{
    display: flex;
     flex-direction: column;
     text-align: center;
    }
}
.about .about-content .img{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .img::before{
 content: "";
 position: absolute;
 background-color: #797979;
 width: 100px;
 height: calc(100% + 80px);
 top: -40px;
 left: -20px;
 z-index: -1;
}
.about .about-content .img::after{
 content: "";
 position: absolute;
 width: 100px;
 height: 300px;
 top: -40px;
 border-left: 80px solid var(--main-color);
 border-bottom: 80px solid var(--main-color);
 right: -150px;
 z-index: -1;
}
@media (max-width:991px) {
   .about .about-content .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
   } 
.about .about-content .img::after{
    display: none;
}
}
.about .about-content .img img{
    max-width: 100%;
    transition: 0.4s;
}

.about .about-content .img:hover img{
    filter:drop-shadow(0 0 5px var(--secondry-color));
    transform: translateY(-15px);
    overflow: hidden;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End about */
/* Start Video */
.video{
    position: relative;
}
.video video{
    max-width: 100%;
    border: none;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: rgba(44, 71, 85, 0.6);
    color: white;
    text-align: center;
}
.video .text button{
    padding: 15px 30px;
    background-color: black;
    color: #f6f6f6;
    border-radius: 10px;
    border: none;
    font-weight: 900;
     font-family: "Montserrat", sans-serif;
    transition: 0.3s;
    letter-spacing: 2px;
}
.video .text button:hover{
    color: black;
    background-color: #f6f6f6;
}
/* End Video */
/* Start Contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); 
    text-align: center;   
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondry-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);  
    text-decoration: none;
}
@media (max-width:767px) {
   .contact .info .label,
   .contact .info .link{
    font-size: 25px;
   }

}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondry-color);
}
/* End Contact */
/* Start Footer */
.footer{
    background-color: var(--secondry-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */